<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cosmos - Achievement Codex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<header>
		<div class="title-grid">
			<span class="title">Cosmos</span>
			<span class="subtitle">Achievement Codex</span>
		</div>
		<div>
			<ol class="header-nav">
				<a>Achievements Dashboard</a>
				<a>The HUB</a>
				<a>Leaderboards</a>
				<a>Forums</a>
			</ol>
		</div>
		<div class="account">
			{% if authenticated %}
				<a href="/account">Account</a>
			{% else %}
				<a href="/login">Login/Sign Up</a>
			{% endif %}
		</div>
	</header>
	<main>
		<div class="account-module">
			<div class="account-profile">Account</div>
  			<div class="account-links">
				<span class="account-links-title">Connect your account with available platforms</span>
				<div class="account-connection">
					<div class="account-connection-in">
						<table class="connections-in-table">
							<tbody>
								<tr><td><button onclick="location.href = '/steam_auth';">Steam</button></td></tr>
							</tbody>
						</table>
					</div>
					<div class="account-connection-out">
						
					</div>
				</div>
			</div>  
  			<div class="account-etc">Etc</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>
