<html>
    <head>
        <title>The Achievement Diary</title>
        {{ fontawesome_html() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='base.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class=header>
            <div>
                <ul class=navbar>
                    <img class=logo src="../static/logo/Achievement_Diaries.png">
                    <li class=title><a href="/">The Achievement Diary</a></li>
                    <li class="nav achievements"><a href="/achievements">Achievements</a></li>
                    <li class=nav><a href="/collections">Collections</a></li>
                    <li class=nav><a href="/platforms">Platforms</a></li>
                    {% if authenticated %}
                        <li class=profile><a href="/profile">Profile</a></li>
                    {% else %}
                        <li class=profile><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div><h1 class=title_message>Welcome to The Achievement Diary</h1></div>
            <div><h2 class=title_message>Track your achievements accross multiple <br> platforms and games</h2></div>
        </div>
    </body>
</html>