<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmos - Achievement Codex</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <div class="app-base">
            <div class="app-overview">
                <div class="app-title">
                    <span>{{ app_data['app_title'] }}</span>
                </div>
                <div class="app-details">
                    <img src="{{ app_data['$ref_art'] }}" onerror="this.src='{{ app_data['$ref_art_alt'] }}'" alt="{{ app_data['app_title'] }}">
                    <ul>
                        <li>Achievement Count -{{app_achievement_data | length}}
                            <ul>
                                <li>Hidden - {{app_overview_details['hidden_total']}}</li>
                                <li>Earned/Remaining - </li>
                            </ul>
                        </li>
                        <li>Average Achievement Earned Percent - {{app_overview_details['average_achivement_percent']|round(2)}}%</li>
                        <li>Most Difficult Achievement - 
                            <ul>
                                <li>Title - {{hardest_achievement['achievement_title']}}</li>
                                <li>Description - {{hardest_achievement['achievement_description']}}</li>
                                <li>Cosmos/Source Percent - {{hardest_achievement['cosmos_percent']|round(2)}}%/{{hardest_achievement['source_percent']|round(2)}}%</li>
                            </ul>
                        </li>
                        <li>100% Difficulty Scale -
                            {% set app_difficulty = app_overview_details['app_difficulty']|round(2)%}
                            <div class="difficulty-scale">
                                {% if app_difficulty < 87 %}
                                    <div style="left:{{app_difficulty}}%;">
                                        {{app_difficulty}}%
                                    </div>
                                {% else %}
                                    <div style="left:88%;">
                                        {{app_difficulty}}%
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <span>{{ app_data['app_description'] }}</span>
                </div>
                <div class="app-screenshots">
                </div>
            </div>
            <div class="app-achievements">
                <div>
                    <span>Search Achievements:</span>
                </div>
                <div>
                    <input type="text" placeholder="search">
                </div>
                <div class="achievement-container">
                    {% for achievement in app_achievement_data %}
                        <div class="achievement-card" id="{{ achievement['achievement_id'] }}">
                            <img src="{{ achievement['art'] }}">
                            <div>
                                <span class="achievement-card-title">
                                    {{ achievement['achievement_title'] }}
                                </span>
                                <br>
                                <span class="achievement-card-description">
                                    {{ achievement['achievement_description'] }}
                                </span>
                                <br>
                                <span class="achievement-card-percentage">
                                    Cosmos-{{ achievement['cosmos_percent'] | round(2) }}% {{ achievement['source_system'] }}-{{ achievement['source_percent'] | round(2) }}%
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>