<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cosmos - Achievement Codex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<header>
		{% include 'header.html' %}
	</header>
	<main>
		<div class="app-base">
            <div class="app-filters">

            </div>
            <div class="app-achievements">
                {% for i in range(30) %}
                    <div>i</div>
                {% endfor %}
            </div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>
