<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cosmos - Achievement Codex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<header>
		{% include 'header.html' %}
	</header>
	<main>
		<div class="cards-container">
			{% for app in apps %}
				<div class=card>
					<a href="/app/{{ app['app_id'] }}/">
						<img class="card-image" src="{{ app['$ref_art'] }}" onerror="this.src='{{ app['$ref_art_alt'] }}'" alt="{{ app['app_title'] }}">
					</a>
				</div>
			{% endfor %}
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>
