<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cosmos - Achievement Codex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<header>
		<div class="title-grid">
			<span class="title">Cosmos</span>
			<span class="subtitle">Achievement Codex</span>
		</div>
		<div>
			<ol class="header-nav">
				<button>Achievements Dashboard</button>
				<button>The HUB</button>
				<button>Leaderboards</button>
				<button>Forums</button>
			</ol>
		</div>
		<div class="account">
			{% if authenticated %}
				<span>Account</span>
			{% else %}
				<span>Login/Sign Up</span>
			{% endif %}
		</div>
	</header>
	<main>
		{% for i in range(5) %}
			<button></button>
		{% endfor %}
	</main>
	<footer>
	</footer>
</body>
</html>
