<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cosmos - Achievement Codex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<header>
		<div class="title-grid">
			<span class="title">Cosmos</span>
			<span class="subtitle">Achievement Codex</span>
		</div>
		<div>
			<ol class="header-nav">
				<a>Achievements Dashboard</a>
				<a>The HUB</a>
				<a>Leaderboards</a>
				<a>Forums</a>
			</ol>
		</div>
		<div class="account">
			{% if authenticated %}
				<a href="/account">Account</a>
			{% else %}
				<a href="/login">Login/Sign Up</a>
			{% endif %}
		</div>
	</header>
	<main>
		<div class="cards-container">
			{% for app in apps %}
				<div class=card>
					<a href="/overview/{{ key }}">
						<div class="card-inner">
							<div class="card-front">
								<img class="card-image" src="{{ app['$ref_art'] }}">
							</div>
							<div class="card-back">
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>
