@import "color_scheme.css";

body {
    background: #f9f9f9;
    margin: 0px;
}

.header {
    background: #b8a282;
    height: 300px;
    position:relative;
}
.warning_message {
    position: relative;
    z-index: 1;
    background-color: #c0392b ;
    height: 15%;
    box-shadow: 0px 0px 40px 5px rgb(0, 0, 0);
}
.warning_message_text {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    margin: 0px;
    text-align: center;
    color: white;
    padding-top: 85px;
}

.logo {
    width: 2%;
    height: 2%;
    display: inline;
    float: left;
    margin: 5px;
    margin-top: 8px;
}
.title {
    text-decoration: none;
    display: inline;
    float: left;
    margin-top: 15px;
    margin-right: 27%;
    color: black;
}
.title a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #d8ccb4;
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 40px 5px rgb(0, 0, 0);
    z-index: 5;
}
.nav{
    text-decoration: none;
    display: inline;
    float: left;
    z-index: 5;
}
.nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: .25s;
    z-index: 5;
  }
.navbar .nav a:hover {
    background: #31742bb3 !important;
    color: white
}

.right_nav {
    text-decoration: none;
    display: inline;
    float: right;
    margin-right: 0px;
    z-index: 5;
}
#nav_log{
    margin-right: 5%;
}
.right_nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: .25s;
    z-index: 5;
  }
.navbar .right_nav a:hover {
    color: #31742bb3 
}

.banner_img {
    position: absolute;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    bottom: 0;
}
.title_img_0 {
    position: absolute;
    width: 120px;
    height: 175px;
    left: 30%;
    top: 30%;
    box-shadow: 0px 0px 20px 1px #ffffffb3 ;
    border-radius: 5%;
}
.title_img_1 {
    position: absolute;
    width: 120px;
    height: 175px;
    left: 30%;
    top: 30%;
    box-shadow: 0px 0px 20px 1px gold ;
    border-radius: 5%;
    animation-name: glow_2;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes glow_2 {
    0% {
        box-shadow: 0px 0px 20px 1px gold;
    }
    50% {
        box-shadow: 0px 0px 20px 1px #ffec87;
    }
    100% {
        box-shadow: 0px 0px 20px 1px gold;
    }
}
.title_alt_image {
    display: none;
    position: absolute;
    width: 120px;
    height: 175px;
    left: 30%;
    top: 30%;
    box-shadow: 0px 0px 20px 1px #ffffffb3 ;
    border-radius: 5%;
}
.title_banner_image {
    position: absolute;
    top: 35px;
    width: 120px;
}
.title_blur_image {
    position: absolute;
    width: 120px;
    height: 175px;
    filter: blur(7px);
    -webkit-filter: blur(7px);
}
.title_message_game {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    mix-blend-mode: difference;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline;;
    left: 37%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.title_message {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline;
    left: 37%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.syncing_message {
    color: black;
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: #c9c9c999;
    border: 2px solid black;
    border-bottom: none;
    margin-right: 25%;
    margin-left: 25%;
    height: 25px;
    top: 36px;
    padding-top: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.fa-sync {
    margin: 3px;
    animation-name: sync;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes sync {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.filters_button{
    float: right;
    right: 7%;
    background-color: #a89574b9;
    margin-right: 7%;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 5px 0.5px rgb(0 0 0 / 30%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.filters {
    position: relative;
    display: block;
    background-color: #b8a382b9;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top: 3px solid black;
    z-index: -1;
}
.hideFilter {
    animation: filter_hide .5s;
    background-color: #b8a382b9;

}
.showFilter {
    animation: filter_show .5s;
    background-color: #b8a382b9;
}
.fa-chevron-up {
    position: relative;
    bottom: 3px;
}
.fa-chevron-down {
    position: relative;
    bottom: 3px;
}
@keyframes filter_hide {
    from {
        padding-bottom: 7%;
        border-top: 3px solid black;
    } 
    to {
        padding-bottom: 0%;
        border-top: 0px solid black;
    }
}
@keyframes filter_show {
    from {  
        padding-bottom: 0%;
    }
    to {
        padding-bottom: 7%;
  }
}
.checkbox_filter_grid {
    position: absolute;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 50px;
    text-align: center;
}
.checkbox_filter_grid_platform {
    position: absolute;
    bottom: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 400px;
    text-align: center;
}
.checkbox_filter_title {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    margin: 0px;
    margin-bottom: 10px;
}
.checkbox_filter_title_platform {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 17px;
}
.checkbox_filters {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.game_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(200px, auto);
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 5%;
}
.card {
    perspective: 1000px;
    background-color: transparent;
    
}
.card_image_steam {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 200px;
}
.card_image_xbox {
    flex-shrink: 0;
    width: 100%;
    height: 200px;
}
.card_alt_image {
    display: none;
}
.card_banner_image {
    position: absolute;
    flex-shrink: 0;
    width: 100%;
    top: 50px;
}
.card_blur_image {
    flex-shrink: 0;
    height: 200px;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-front {
    background-color: #bbb;
    color: black;
    border: 3px solid rgb(0, 0, 0)
}
.card-back {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    background-color: #e2dbc8;
    color: black;
    transform: rotateY(180deg);
    border: 3px solid rgb(0, 0, 0)
}
.perfect{
    animation-name: perfect;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.no_achievements{
    animation-name: no_achievement;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes perfect {
    0% {
        box-shadow: 0 3px 30px 1px gold;
    }
    50% {
        box-shadow: 0 3px 30px 1px #ffec87;
    }
    100% {
        box-shadow: 0 3px 30px 1px gold;
    }
}
@keyframes no_achievement {
    0% {
        box-shadow: 0 3px 30px 1px rgb(0 60 255 / 50%);
    }
    50% {
        box-shadow: 0 3px 30px 1px #9987ff;
    }
    100% {
        box-shadow: 0 3px 30px 1px rgb(0 60 255 / 50%);
    }
}

.platform_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(120px, auto);
    margin-left: 700px;
    margin-right: 700px;
}
.platform_icon {
    display:inline-block;
    text-align: center;
    background-color: #605443;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.platform_icon:hover {
    background-color: #31742bb3; /*#574c3d;*/
}
.platform_image {
    position: relative;
    max-height: 175px;
    top: 15px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
}
.platform_button {
    font-family: 'Calibri';
    width: 150px;
    height: 30px;
    position: relative;
    max-height: 175px;
    top: 15px;
    background-color: #ffffff47;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.platform_button:hover {
    background-color: #ffffff60;
}

.modal {
    z-index:2;
    position: absolute;
    top:0px;
    left:0px; 
    width:100%;
    height:100vh;
    background: rgba(0, 0, 0, 0.25);
    display:none;
    justify-content: center;
    align-items: center;
}
.modal_content {
    width: 300px;
    height: 300px;
    background: #d8ccb4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Serif','Palatino','Georgia',serif;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}
.close p{
    position: relative;
    float: right;
    margin: 0px;
    right: 10px;
    cursor: pointer;
}
.platform_modal_title {
    padding: 10px;
    padding-bottom: 12px;
    margin: 0px;
}
.hideModal {
    z-index:-1;
    opacity:0;
    animation: hide .25s;
    transform: scale(0);

}
@keyframes hide {
    from {
        z-index:2;
        transform: scale(1);
        opacity:1;
    } 
    to {
        z-index:-1;
        transform: scale(0);
        opacity: 0;
    }
}
.showModal {
    opacity:1;
    z-index:2;
    animation: show .3s;
    transform: scale(1);
}
@keyframes show {
    from {  
        transform: scale(.5);
        opacity:0;
        z-index:-1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index:2;
  }
}

.achievement_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.achievement_0 {
    background-color: #b8a282;
    box-shadow: 0 4px 10px 0 rgb(96 84 67);
    border-radius: 4px;
    display: inline;
    filter: grayscale(100%);
}
.achievement_1 {
    background-color: #b8a282;
    border-radius: 4px;
    display: inline;
    animation-name: glow;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes glow {
    0% {
        box-shadow: 0 3px 10px 0px gold;
    }
    50% {
        box-shadow: 0 4px 10px 0px #ffec87;
    }
    100% {
        box-shadow: 0 5px 10px 0px gold;
    }
}
.achievement_1:hover {
    background-color: #c7b396;
}
.achievement_0:hover {
    box-shadow: 0 4px 10px 0 #31742bb3;
}
.icon_background {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    text-align: left;
    margin-left: 10px;
}
.icon_background_hidden {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    text-align: left;
    margin-left: 10px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.achievement_icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;
    max-height: 100%;
    box-shadow: 0px 0px 20px 1px rgb(96 84 67);
    border-radius: 10%;
}
.achievement_icon_hidden {
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;
    max-height: 100%;
    box-shadow: 0px 0px 20px 1px rgb(96 84 67);
    border-radius: 10%;
}
.achievement_title {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    float: left;
    text-align: center;
    margin-top: 36px;
    margin-left: 20px;
}
.achievement_description {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    text-align: center;
    margin-top: 36px;
    margin-left: 20px;
}
.hidden {
    position: absolute;
    background-color: #00000052;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.fa-lock{
    position: absolute;
    margin: none;
    margin-top: 5px;
    margin-left: 50%;
    padding: none;
    border: none;
}