:root {
    --primary-color: #222e45;
    --primary-border-color: #172136;
    --primary-shadow-color: #07102296;
    --primary-hover-color: rgba(255, 255, 255, 0.322);
    --secondary-color: #fff;
    --secondary-hover-color: rgba(255, 255, 255, 0.795);
    --tertiary-color: #e4eaee;
    --quaternary-color: #ffffff8e;
  }