@import "color_scheme.css";

body {
    background: var(--tertiary-color);
}

div {
    text-align: center;
}

label {
    padding-right: 100%;
    color: var(--secondary-color);
}

.login {
    width: 12%;
    display: inline-block;
    border: 3px solid var(--primary-border-color);
    border-radius: 20px;
    padding: 25px;
    margin: 0px;
    margin-top: 10%;
    box-shadow: 5px 5px var(--primary-shadow-color);
    background-color: var(--primary-color);
}

.login_title {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-size: 25px;
    color: var(--secondary-color);
}

#create_account {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    padding-top: 10px;
    text-align: center;
    color: var(--primary-color);
    font-size: 12px;
}

#user_not_found {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    color: red;
    margin: 0px;
    text-align: left;
    font-size: 13px;
}

input {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    width: 100%;
    padding: 12px 5px 5px;
    margin: 8px 0;
    border-bottom: 1px solid var(--secondary-color) !important;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
input:focus {
    outline: none;
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    width: 100%;
    padding: 12px 5px 5px;
    margin: 8px 0;
    border-bottom: 1px solid var(--secondary-color) !important;
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
input:hover {
    background-color: var(--primary-hover-color);
    border-radius: 10px;
}
input::placeholder {
    color: var(--quaternary-color);
}
input:invalid {
    border-left: 3px solid red;
}

input[type=submit] {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    width: 100%;
    color: var(--primary-color);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
}
input[type=submit]:hover {
    background-color: var(--secondary-hover-color)
}