body {
  font-family: 'Kanit';
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(90deg, #5B2843 0%, #615A41 32.29%, #0C2B3D 96.35%);
  margin: 0%;
  max-width: 100%;
  overflow-x: hidden;
} 
header {
  position: sticky;
  display: grid;
  height: 120px;
  width: 100%;
  left: 0px;
  top: 0px;
  gap: 10px;
  grid-template-columns: 15% auto auto;
  background-color: #302C3A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.title-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 0px;
  align-items: center;
  text-align: center;
  padding-left: 5%;
}
.title {
  display: flex;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 64px;
  padding-top: 8%;
  color: #ffffff;
  text-decoration: none;
}
.subtitle {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  padding-left: 8%;
  color: #ffffff;
  text-decoration: none;
}
.header-nav {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-align: center;
  height: 70%;
  padding: 0%;
  font-weight: 500;
  font-size: 20px;
  width: 70%;
}
.header-nav > a {
  cursor: pointer;
}
.account {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  padding-left: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.account > a {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Kanit';
  text-decoration: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  padding: 0%;
  max-width: 100%;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(200px, auto);
  background: #302C3A;
  width: 75%;
  padding: 2%;
}
.card {
  perspective: 1000px;
  background-color: transparent;
}
.card-image {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 3px 7px 5px 2px rgba(0,0,0,0.2);
  border: 2px solid #ffffff75;
  border-radius: 3px;
  transition: all 0.3s;
}
.card-image:hover {
  border: 2px solid #8e22c5;
}

.login-module {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #302C3A;
  padding: 2%;
  background: #302C3A;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 80px;
}
.login-title {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.input-text {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}
.signup-module {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #302C3A;
  padding: 2%;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 80px;
}
.account-module {
  display: grid;
  grid-template-areas:
    'profile links links'
    'profile etc etc';
  position: relative;
  align-items: center;
  background: #302C3A;
  width: 90%;
  top: 0px;
}
.account-profile {
  grid-area: profile;
}
.account-links {
  grid-area: links;
  position: relative;
  padding-top: 3%;
}
.account-links-title {
  padding: 1%;
  font-weight: 500;
  font-size: 24px;
}
.account-connection {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  gap: 20px;
}
.account-connection > div{
  background: #FFFFFF;
  border: 3px solid #484355;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.connections-in-table {
  width: 100%;
}
.connections-in-table > tbody > tr > td > button {
  width: 100%;
}
.account-etc {
  grid-area: etc;
}

.app-base {
  display: grid;
  grid-template-columns: 50% 50%;
}
.app-achievements {
  margin-right: 5%;
  background-color: #302C3A;
}


.primary-button {
  background: #53375D;
  border-radius: 5px;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 35%;
  text-align: center;
  color: #FFFFFF;
}


