body {
  font-family: 'Kanit';
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(90deg, #5B2843 0%, #615A41 32.29%, #0C2B3D 96.35%);
  margin: 0%;
  max-width: 100%;
  overflow-x: hidden;
} 
header {
  position: sticky;
  display: grid;
  height: 120px;
  width: 100%;
  left: 0px;
  top: 0px;
  gap: 10px;
  padding-left: 2%;
  padding-right: 2%;
  grid-template-columns: 15% auto auto;
  background-color: #302C3A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.title-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 0px;
  align-items: center;
  text-align: center;
}
.title {
  display: flex;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 64px;
  padding-top: 8%;
}
.subtitle {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  padding-left: 8%;
}
.header-nav {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-align: center;
  height: 70%;
  padding: 0%;
  font-weight: 500;
  font-size: 20px;
}
.account {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  padding-left: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.account > a {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Kanit';
  text-decoration: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
  padding: 1%;
  max-width: 100%;
}
.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-right: 5%;
  margin-left: 5%;
  gap: 5%;
  background: #302C3A;
}
.cards-container > button {
  display: block;
  background: url("default-card.png") transparent;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
}


.login-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #302C3A;
  padding: 2%;
  background: #302C3A;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.login-title {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.input-text {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}
.signup-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #302C3A;
  padding: 2%;
  background: #302C3A;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.primary-button {
  background: #53375D;
  border-radius: 5px;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 35%;
  text-align: center;
  color: #FFFFFF;
}


