@import "color_scheme.css";

body {
    background: var(--tertiary-color);
    margin: 0px;
}

.header {
    background: var(--primary-color);
    height: 150px;
    position:relative;
    border-bottom: 3px solid var(--primary-border-color);
}

.title {
    background-color: var(--secondary-color);
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-size: 21px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 30px;
    left: 130px;
    border-radius: 8px;
    padding: 10px;
    width: 1650;
}

.page {
    background: var(--secondary-color);
    height: 80%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px var(--primary-shadow-color);
    border: 3px solid var(--primary-border-color);
}

.tabs {
    position:absolute;                 
    bottom:0;                         
    left:0;  
}

.tab {
    background: var(--tertiary-color);
    font-family: 'PT Serif','Palatino','Georgia',serif;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    margin-left: 50;
    margin-right: -50;
    padding-right: 50;
    padding-left: 50;
    padding-top: 15;
    padding-bottom: 4px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 3px solid var(--primary-border-color);
    border-bottom: none;
}

.tabs a:hover {
    background: var(--secondary-color) !important;
}

.tabs a.active {
    background: var(--secondary-color) !important;
    padding-bottom: 12px;
}

#logo {
    margin-left: 10px;
    margin-right: 75px;
    height: 25px;
    border: 50px solid transparent;
    border-bottom-color: var(--tertiary-color);
    position: relative;
    top: -60px;
    left: 40px;
}
  #logo:after {
    width: 100%;
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    height: 0;
    border: 50px solid transparent;
    border-top-color: var(--tertiary-color);;
}

.fa-bookmark {
    position: absolute;
    margin-left: 83%;
    color: var(--primary-color);
    font-size: 100;
    margin-top: -6px;
}

.fa-chevron-right {
    position: absolute;
    margin-left: 5%;
    color: var(--primary-color);
    font-size: 25;
    margin-top: 10px;
}

#bookmark_shadow{
    position: relative;
    margin-left: 88.3%;
    color: #222e45b3;
    font-size: 100;
    margin-top: -2px;
}

.platforms {
    position: relative;
    margin-top: 70px;
}

.platform_list {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    max-width: 150px;
    max-height: 100px;
    color: var(--primary-color);
    display: block;
    text-decoration: none;
    border: none;
    background: none;
    margin: 20px;
}
.platform_image {
    max-width: 150px;
    max-height: 100px;
}

.platforms_content {
    background-color: var(--tertiary-color);
    width: 40%;
    height: 70%;
    margin-top: -45px;
    margin-left: 25px;
    position: absolute;
    border: 5px solid var(--primary-border-color);
    box-shadow: 3px 3px var(--primary-shadow-color);
    border-radius: 25px;
}

.platform_connections {
    background-color: var(--tertiary-color);
    width: 20%;
    height: 70%;
    margin-top: -45px;
    margin-left: 850;
    position: absolute;
    border: 5px solid var(--primary-border-color);
    box-shadow: 3px 3px var(--primary-shadow-color);
    border-radius: 25px;
}

.connections {
    background-color: var(--primary-color);
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    height: 10%;
    position: relative;
    border-bottom: 5px solid var(--primary-border-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#connections_title {
    margin-top: 0px;
    position: relative;
    right: -100px;
    top: 20px;
}