@import "color_scheme.css";

body {
    background: var(--tertiary-color);
    margin: 0px;
}

.header {
    background: var(--primary-color);
    height: 150px;
    position:relative;
    border-bottom: 3px solid var(--primary-border-color);
}

.title {
    background-color: var(--secondary-color);
    font-family: 'PT Serif','Palatino','Georgia',serif;
    font-size: 21px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 30px;
    left: 130px;
    border-radius: 8px;
    padding: 10px;
    width: 1650;
}

.page {
    background: var(--secondary-color);
    height: 80%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px var(--primary-shadow-color);
    border: 3px solid var(--primary-border-color);
}

.tabs {
    position:absolute;                 
    bottom:0;                         
    left:0;  
}

.tab {
    background: var(--tertiary-color);
    font-family: 'PT Serif','Palatino','Georgia',serif;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    margin-left: 50;
    margin-right: -50;
    padding-right: 50;
    padding-left: 50;
    padding-top: 15;
    padding-bottom: 4px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 3px solid var(--primary-border-color);
    border-bottom: none;
}

.tabs a:hover {
    background: var(--secondary-color) !important;
}

.tabs a.active {
    background: var(--secondary-color) !important;
    padding-bottom: 12px;
}

#logo {
    margin-left: 10px;
    margin-right: 75px;
    height: 25px;
    border: 50px solid transparent;
    border-bottom-color: var(--tertiary-color);
    position: relative;
    top: -60px;
    left: 40px;
}
  #logo:after {
    width: 100%;
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    height: 0;
    border: 50px solid transparent;
    border-top-color: var(--tertiary-color);;
}

.fa-bookmark {
    position: absolute;
    margin-left: 83%;
    color: var(--primary-color);
    font-size: 100;
    margin-top: -6px;
}

#bookmark_shadow{
    position: relative;
    margin-left: 88.3%;
    color: #222e45b3;
    font-size: 100;
    margin-top: -2px;
}

.profile_content {
    background-color: var(--tertiary-color);
    width: 40%;
    height: 70%;
    margin-top: -45px;
    margin-left: 25px;
    position: absolute;
    border: 5px solid var(--primary-border-color);
    box-shadow: 3px 3px var(--primary-shadow-color);
    border-radius: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile_image {
    position: relative;
    width: 150px;
    border-radius: 100px;
    border: 5px solid var(--primary-border-color);
    margin: 15px;
}

#select_avatar {
    font-family: 'PT Serif','Palatino','Georgia',serif;
    color: var(--primary-color);
    position: absolute;
    margin-left: -130px;
    margin-top: 185px;
    font-size: 12;
}
#select_avatar:hover {
    color: #4e5b75;
    cursor: pointer;
}

.avatars {
    width: 100px;
    height: 100px;
    border: 3px solid var(--primary-border-color);
}
.avatars:hover {
    cursor: pointer;
    border: 3px solid #ffe70563;
}

.image_data {
    display: none;
}